<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--扫描 service-->
    <context:component-scan base-package="cn.zhitong.kcsj.service"/>


    <!--定义切面(切点和增强的组合)-->
    <aop:config>
        <!--impl包下的所有类的所有方法-->
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* cn.zhitong.kcsj.service.impl.*.*(..))"/>
    </aop:config>



</beans>